{% extends 'base.html.twig' %}

{% block title %}Borrower index{% endblock %}

{% block body %}
    <h1>Borrower index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>PhoneNumber</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for borrower in borrowers %}
            <tr>
                <td>{{ borrower.id }}</td>
                <td>{{ borrower.name }}</td>
                <td>{{ borrower.email }}</td>
                <td>{{ borrower.phoneNumber }}</td>
                <td>
                    <a href="{{ path('app_borrower_show', {'id': borrower.id}) }}">show</a>
                    <a href="{{ path('app_borrower_edit', {'id': borrower.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_borrower_new') }}">Create new</a>
{% endblock %}
